{% extends 'base.html' %}
{% block content %}
  <h2>Blogs Details</h2>
  <div id="one_post">

    <h2 id="author">{{ post.author }}</h2>
     <div class="in_detail">
        <h2>{{post.title}}</h2>
        <P>{{ post.body }}</P>
            </div>

    <a href="{% url 'blog_update' post.pk %}">Update</a> {% comment %} here we add linkable button to able to make update in detail page,then redirect to same page {% endcomment %}
    <a href="{% url 'blog_delete' post.pk %}">Delete</a> {% comment %}here we add this line to able to make deletion from details page, then redirect to homepage{% endcomment %}
    <a href="{% url 'blogs' %}">Back to home page </a> 

     </div>

{% endblock content %}