{% extends 'base.html' %}
{% block content %}
  <h2>Blogs List</h2>
   <p id="readmore">Click on any post to read more</p>
  <section id="container">
    {% for post in object_list %}
         <a href="{% url 'blog_details' post.pk %}">
           <div class="post">
            {{ post.title }}

        </div>
    </a>
    {% endfor %}
  </section>
  <br>
    <br>
    <br>

  <a href="{% url 'blog_create' %}">Create New Blog</a>     {% comment %} to able to go to create new page from the home page    {% endcomment %}

{% endblock content %}